body{
	color:#fff;
	color: rgba(255,255,255,0.5);
	font-family: arial, helvetica;
	background:#000;
	background: #000 url("../img/flightArt.jpg") 50% 0 no-repeat fixed;
	text-shadow: 2px 2px 5px #000;
	margin:0;
	padding:0;
}
#top{
	position:absolute;
	top:0;
	left:0;
}
#story{
	width:80%;
	/*overflow: hidden;*/
	position: relative;
	margin:0 auto;
}
h1{
	padding: 1em;
	letter-spacing: 0.125em;
	color:#fff;
	margin:0;
}
.legal{
   vertical-align: text-bottom;
   padding: 1em;
   font-size: 0.625em;
   letter-spacing: 0.125em;
   position: absolute;
   right:0;
   top:0;
}
p{
padding: 1.25em 2em;
letter-spacing: 0.125em;
font-size: /*20px*/ 1.25em;
line-height: /*32px*/ 1.625em;
float: left;
margin: 0;
}
#paraOne,
#paraTwo,
#paraThree,
#paraFour,
#paraFive,
#paraSix,
#paraSeven,
#paraEight,
#paraNine,
#paraTen,
#paraEleven,
#paraTwelve{
	position:absolute;
	width:auto;
}
#paraOne{
	top: 300px;
	left:0;
}
#paraTwo{
	top:200px;
	left:2000px;
}
#paraThree{
	top:200px;
	left:4000px;
}
#paraFour{
	top:200px;
	left:6000px;
}
#paraFive{
	top:200px;
	left:8000px;
}
#paraSix{
	top:0px;
	left:10000px;
}
#paraSeven{
	top:200px;
	left:12000px;
}
#paraEight{
	top:1000px;
	left:14000px;
}
#paraNine{
	top:1800px;
	left:14000px;
}
#paraTen{
	top:2600px;
	left:14000px;
}
#paraEleven{
	top:2600px;
	left:16000px;
}
#paraTwelve{
	top:2600px;
	left:18000px;
}

#paraNine:before{
/*retore metrics*/
padding:0;
border:none;
/*content*/
content: attr(data-pullquote);
/*pull out to the right, modular scale-based margins*/
float:right;
width: 320px;
height: 320px;
margin: 12px -140px 24px 36px;
/*baseline correction*/
position: relative;
top: 5px;
/*typography ( 30px line height equals 25% incremental leading )*/
font-size: 23px;
line-height: 30px;
}